<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title th:text="#{msg.titleIndexTab}"></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
	<link href="../static/css/styles.css" type="text/css" rel="stylesheet" th:href="@{/css/styles.css}" media="screen,projection">
</head>
<body>
	<div th:insert="components :: header"></div>

	<div class="container">
		<div class="hero-unit">
			<h1>Spring boot Thymeleaf</h1>
			<p>
				Welcome to the Spring boot thymeleaf CRUD!
				Get into movies manager by button.
			</p>
			<p>
				<a th:href="@{/movies/getAllMovies}" class="btn btn-large btn-success" th:text="#{bttn.goManagerMovies}"></a>
			</p>
		</div>
		<div th:insert="components :: footer"></div>
	</div>

</body>
</html>