<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title th:text="#{msg.titleMoviesTab}"></title>
	<style type="text/css">
	#todocontainer {
		margin-top: 50px;
	}
	</style>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />	
	<link href="../static/css/styles.css" type="text/css" rel="stylesheet" th:href="@{/css/styles.css}" media="screen,projection">
</head>

<body>
	<div th:insert="components :: header"></div>
	
	<div class="container my-2">
		<form th:object="${movieRequest}" th:action="@{/movies/getAllMovies}" method="get">
			
			<div class="inner-form">
				<div class="input-field first-wrap">
		        	<input type="text" name="name" id="name" th:value="${movieRequest.name}" placeholder="name"/>
	        	</div>
	        	<div class="input-field second-wrap">
		        	<input type="number" name="year" id="year" th:value="${movieRequest.year}" placeholder="year"/>
		        </div>
		        <div class="input-field third-wrap">
		        	<input type="text" name="director" id="director" th:value="${movieRequest.director}" placeholder="director" />
		        </div>	
		        <div class="input-field fouth-wrap">
		        	<button class="btn-search" type="submit">SEARCH</button>
		        </div>
		    </div> 
			
			<div class="container my-2">
				<a th:href="@{/movies/getViewCreateEditMovie}" class="btn btn-primary btn-sm mb-3" th:text="#{bttn.addMovie}"></a>
				<a th:href="@{/movies/export/excel}" class="btn btn-primary btn-sm mb-3" th:text="#{bttn.export}"></a>
				<table border="1" class = "table table-striped table-responsive-md">
					<thead>
						<tr>
							<th>
								<a th:href="@{'/movies/getAllMovies/?page=' + ${page.pageable.pageNumber} + '&sort=name'}">
									Name
								</a>
							</th>
							<th>
								<a th:href="@{'/movies/getAllMovies/?page=' + ${page.pageable.pageNumber} + '&sort=year'}">
									Year
								</a>
							</th>
							<th>
								<a th:href="@{'/movies/getAllMovies/?page=' + ${page.pageable.pageNumber} + '&sort=director'}">
									Director
								</a>
							</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="movie : ${page.content}">
							<td th:text="${movie.name}"></td>
							<td th:text="${movie.year}"></td>
							<td th:text="${movie.director}"></td>
							<td>
								<a th:href="@{'/movies/getViewCreateEditMovie?id=' + ${movie.id}}" class="btn btn-success btn-edit">Edit</a>
								<form action="#" th:action="@{'/movies/deleteMovie?id=' + ${movie.id}}" th:method="delete" >
									<input type="hidden" name="_method" value="delete" />
									<button type="submit" class="btn btn-success btn-edit" id="submitButton">Delete</button>
								</form>
							</td>
						</tr>
					</tbody>
				</table>

				<div th:if="${page.totalPages > 1}">
				    <div class = "row col-sm-10">
						<div class = "col-sm-2">
				        	Total Rows: [[${page.totalElements}]]
				    	</div>
				    	<div class = "col-sm-1">
							<span th:each="i: ${#numbers.sequence(0, page.totalPages-1)}">
						      	<a th:if="${page.pageable.pageNumber != i}" th:href="@{'/movies/getAllMovies/?page=' + ${i}}">[[${i}]]</a>
						     	<span th:unless="${page.number != i}">[[${i}]]</span> &nbsp; &nbsp;
							</span>
						</div>

						<div class = "col-sm-1">
							<a th:if="${page.pageable.pageNumber > 0}" th:href="@{'/movies/getAllMovies/?page=' + ${page.pageable.pageNumber-1}}">Previous</a>
							<span th:unless="${page.pageable.pageNumber > 0}">Previous</span>
						</div>

						<div class = "col-sm-1">
						    <a th:if="${page.pageable.pageNumber < page.totalPages-1}" th:href="@{'/movies/getAllMovies/?page=' + ${page.pageable.pageNumber+1}}">Next</a>
						    <span th:unless="${page.pageable.pageNumber < page.totalPages-1}">Next</span>
						</div>
						
						<div class="col-sm-1">
						    <a th:if="${page.pageable.pageNumber < page.totalPages-1}" th:href="@{'/movies/getAllMovies/?page=' + ${page.totalPages-1}}">Last</a>
						    <span th:unless="${page.pageable.pageNumber < page.totalPages-1}">Last</span>
		   				</div>
				    </div>
				</div>
			</div>
		</form>
	</div>

	<div th:insert="components :: footer"></div>

	<script type="text/javascript" src="../static/js/movies.js" th:src="@{/js/movies.js}"></script>
	
</body>
</html>